table
{
        margin-top: 50px;
        width: 50px;
        border-collapse:collapse;
}


.smjee
{
        border-bottom: 4px solid black;
}


button
{
        height: 100px;
        width: 100px;
}

.right
{
        border-right: 4px solid black;
}

#pee
{
	text-align: center;
	color: blue;
	font-size: 350%;
	
}

#tictactoe
{
	margin-left: auto;
	margin-right: auto;
}

